*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
h1 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

body {
    width: 100%;
    font: 400 16px/140% "Open-sans", sans-serif;
    color: #111;
    background-color: #fff;
    overflow-x: hidden;
}

.main {
    padding-bottom: 24px;
}

.container {
    width: 100%;
    padding: 0 16px;
}

h1 {
    margin: 24px 0 16px;
    text-align: center;
    font-size: 1.75em;
}

.column:not(:last-child) {
    margin-bottom: 16px;
}

.column__card {
    position: relative;
    padding: 40px 16px 16px;
    border: 1px solid #111;
    background-color: #bdbdbd;
}

.chiken .column__title {
    background-color: #d59898;
}

.beef .column__title{
    background-color: #c14643;
    color: #fff;
}

.sushi .column__title {
    background-color: #e5d198;
}

.column__title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 32px;
    border: 1px solid #111;
    font: 600 1.25em/1 "Open-sans", sans-serif;
}

@media (min-width: 768px) {
    h1 {
        margin: 24px 0;
    }

    .row::after {
        clear: both;
    }
    
    .column {
        float: left;
        width: 50%;
        padding: 0 8px;
    }

    .column:last-child {
        width: 100%;
    }
}

@media (min-width: 992px) {
    h1 {
        margin: 32px 0 48px;
    }

    .column, .column:last-child {
        width: 33.33%;
    }
}