/* Макет: в режиме рабочего стола (992 пикселя и выше) 
каждый из трех разделов должен занимать одинаковое количество места на экране. 
Когда вы делаете окно браузера шире или уже, каждый раздел должен становиться шире или уже. 
( Подсказка: используйте проценты для определения ширины и используйте свойство 'float'. См. лекцию 24 ). 
Для визуального ознакомления с этим представлением см. иллюстрацию макета рабочего стола ниже.

Макет: в режиме планшета (от 768 до 991 пикселей включительно) 
первые 2 раздела должны быть в первой строке и иметь одинаковый размер. 
3-я секция должна быть во втором ряду и занимать всю строку сама по себе. 
Для визуального ознакомления с этим представлением см. иллюстрацию макета планшета ниже.

Макет: в мобильном представлении (равном или меньше 767 пикселей) 
каждый раздел должен занимать всю строку. 
Для визуального ознакомления с этим представлением см. иллюстрацию макета мобильного устройства ниже.

Область заголовка раздела: 
у каждого раздела должна быть область заголовка раздела, 
которая всегда располагается в правом верхнем углу раздела независимо от вида (на компьютере, планшете или мобильном телефоне). 
Скопируйте названия из иллюстрации-макета (например, Цыпленок, Говядина, Суши) или придумайте свои собственные. 
( Подсказка: используйте относительное и абсолютное позиционирование и смещения, как обсуждалось в лекции 22. )

Расстояние: 
обратите внимание на расстояние, показанное на макете. 
Обратите внимание на расстояние между секциями (как по горизонтали, так и по вертикали). 
Обратите внимание на расстояние по горизонтали между краями раздела и краями окна браузера. 
Также обратите внимание на расстояние между фиктивным текстом в каждом разделе и краями раздела. 
Наконец, убедитесь, что фиктивный текст достаточно «сдвинут», чтобы он не перекрывал область заголовка раздела. 
( Подсказка: используйте поля и отступы, а также используйте border-box в качестве размера блока, как обсуждалось в лекции 19. )

Границы и цвета: 
каждый раздел должен иметь фоновый цвет, установленный на какой-либо цвет (по вашему выбору). 
Установите цвет фона каждой области заголовка раздела на какой-либо уникальный цвет (по вашему выбору). 
Убедитесь, что цвет фона по-прежнему позволяет пользователю просматривать текст в областях раздела и заголовка раздела. 
В зависимости от выбранного цвета вы можете изменить цвет текста, чтобы его было легко читать. 
Установите черную рамку для раздела и области заголовка раздела толщиной 1 пиксель. 
Предупреждение. Если не указать границы и цвета в соответствии с требованиями, 
это не сильно повлияет на вашу оценку, 
но в противном случае вашим одноклассникам будет намного сложнее оценивать остальную часть вашего задания, 
что может привести к гораздо более низкой оценке.

(НЕОБЯЗАТЕЛЬНО) 
Вы НЕ будете оцениваться по этому, но вы можете явно установить семейство шрифтов для текста на своей странице, 
чтобы не зацикливаться на семействе шрифтов браузера по умолчанию. 
Кроме того, установите размер шрифта заголовка и заголовка раздела на 75% больше и на 25% больше (соответственно), 
чем размер шрифта фиктивного текста. */

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
h1 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

body {
    width: 100%;
    font: 400 16px/140% "Open-sans", sans-serif;
    color: #111;
    background-color: #fff;
    overflow-x: hidden;
}

.main {
    padding-bottom: 24px;
}

.container {
    width: 100%;
    padding: 0 16px;
}

h1 {
    margin: 24px 0 16px;
    text-align: center;
    font-size: 1.75em;
}

.column:not(:last-child) {
    margin-bottom: 16px;
}

.column__card {
    position: relative;
    padding: 40px 16px 16px;
    border: 1px solid #111;
    background-color: #bdbdbd;
}

.chiken .column__title {
    background-color: #d59898;
}

.beef .column__title{
    background-color: #c14643;
    color: #fff;
}

.sushi .column__title {
    background-color: #e5d198;
}

.column__title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 32px;
    border: 1px solid #111;
    font: 600 1.25em/1 "Open-sans", sans-serif;
}

@media (min-width: 768px) {
    h1 {
        margin: 24px 0;
    }

    .row::after {
        clear: both;
    }
    
    .column {
        float: left;
        width: 50%;
        padding: 0 8px;
    }

    .column:last-child {
        width: 100%;
    }
}

@media (min-width: 992px) {
    h1 {
        margin: 32px 0 48px;
    }
    
    .column, .column:last-child {
        width: 33.33%;
    }
}